.footer {
  background: #4b4f52;
  padding: 100px 0 100px 0;
  .container {
    width: 100%;
    max-width: 1050px;
    margin-left: auto;
    margin-right: auto;
    font-family: "Lato", sans-serif;
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-size: 18px;

    .wraper {
      .socialNetwork {
        margin-top: 22px;
        display: flex;
        justify-content: space-between;
        .socialNetwork__item {
          display: inline-block;
          margin: 3px auto 0;
          width: 43px;
          height: 43px;
          background-color: #fff;
          display: flex;
          align-items: center;
          img {
            margin: 3px auto 0;
          }
        }
      }
    }
    .infoBlock {
      font-style: normal;
      font-weight: 700;
      line-height: 22px;
      .phoneCall {
        text-decoration: none;
      }
      a {
        display: block;
        color: #fff;
        margin-bottom: 14px;
      }
    }
    h3 {
      font-weight: 700;
      line-height: 22px;
      font-size: 18px;
      margin-bottom: 15px;
    }
    ul {
      li {
        font-weight: 400;
        font-size: 18px;
        line-height: 159.02%;
        opacity: 0.6;
        margin-bottom: 2px;
      }
    }
  }
}
