.header {
  .container {
    width: 100%;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    font-family: "Lato", sans-serif;
    .navigationPanel {
      display: flex;
      align-items: center;
      padding: 20px 0 20px 0;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      .logo {
        flex-basis: 200px;
      }
      .selectMenu {
        padding: 15px 12px 12px 12px;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        margin-right: 50px;
        option {
          min-height: 1em;
        }
      }
      nav {
        ul {
          a {
            margin-right: 30px;
            text-decoration: none;
          }
        }
      }
      .language {
        position: relative;
        display: flex;
        margin-left: auto;
        flex-basis: 95px;
        .rus {
          margin-left: auto;
        }
      }
      .language::after {
        position: absolute;
        content: "";
        width: 1px;
        height: 100%;
        background: black;
        margin-left: 50%;
      }
    }
  }
  .searchPanel {
    background: #4b4f52;
    color: #fff;
    padding: 10px 0 10px 0;
    a {
      color: #fff;
    }
    .container {
      display: flex;
      align-items: center;
      .inputSearch {
        position: relative;
        input {
          width: 300px;
          background: #4b4f52;
          border: 1px solid #fff;
          height: 50px;
          padding: 12px 0 12px 31px;
          font-weight: 400;
          font-size: 18px;
          line-height: 22px;
        }
        .btn {
          position: absolute;
          top: 14px;
          right: 14px;
          background: url("../../assets/vector.png") no-repeat center top /
            cover;
          width: 22px;
          height: 22px;
          border: none;
          cursor: pointer;
        }
      }
      .phone {
        margin-left: 45px;
        .phoneCall {
          font-weight: 700;
          font-size: 18px;
          line-height: 22px;
          text-decoration: none;
          position: relative;
        }
        .phoneCall::before {
          position: absolute;
          content: "";
          width: 16px;
          height: 16px;
          background: url("../../assets/phone.png") no-repeat center top;
          left: -22px;
          top: 2px;
        }
      }
      .mail {
        margin-left: 45px;
        a {
          font-weight: 700;
          font-size: 18px;
          line-height: 22px;
          text-decoration: none;
          position: relative;
        }
        a::before {
          position: absolute;
          content: "";
          width: 16px;
          height: 12px;
          background: url("../../assets/mail.png") no-repeat center top;
          left: -22px;
          top: 6px;
        }
      }
      .basket {
        margin-left: auto;
      }
    }
  }
}
